@page "/satellite"
@using NOAA_Track.Models
@using NOAA_Track.Database
@using NOAA_Track.Services
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Satellite</PageTitle>
<h1>Satellite</h1>

<button class="btn-primary" onclick="@NavigationHandlerAdd">Add Satellite</button>

@if (update_table)
{
    <p>updating...</p>
}
else if (error_db != null)
{
    <p>@error_db</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Created</th>
                <th>Description</th>
                <th>More Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var satellite in satellite_list)
            {
                <tr>
                    <td><a style="text-decoration: none;" href="/satellite/@satellite.Id">@satellite.Id</a></td>
                    <td>@satellite.Name</td>
                    <td>@satellite.DateCreated</td>
                    <td>@satellite.Description</td>
                    <td><a style="text-decoration: none;" href="@satellite.Link">Link</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    Satellite satellite = new Satellite();
    HttpClient client = new HttpClient();
    List<Satellite> satellite_list = new List<Satellite>();

    bool update_table = true;
    public string? error_db;

    public void NavigationHandlerAdd()
    {
        NavigationManager.NavigateTo("satellite/add");
    }

    public async Task PopulateSatelliteTable()
    {
        try
        {
            satellite_list = await client.GetFromJsonAsync<List<Satellite>>("http://localhost:3000/satellite");
        }
        catch (Exception e)
        {
            error_db = e.Message;
        }
        finally
        {

        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await client.GetFromJsonAsync<List<Satellite>>("http://localhost:3000/satellite");
            if (response is null)
            {
                response = new List<Satellite>();
            }
            else
            {
                satellite_list = response;
            }
        }
        catch (Exception e)
        {
            error_db = e.Message;
        }
        finally
        {
            update_table = false;
        }
    }
}
